html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #08080d;
  color: white;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background: #7c3aed;
  color: white;
}